:root {
  --primary-color: #f3f2f0;
  --secondary-color: #b38b6d;
  --tertiary-color: #403e3e;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 20px;
}



/* Navigation */

.nav-container {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-color);
}

.nav-list-item {
  list-style: none;
}

.nav-list-item a {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.nav-list-item a:hover {
  color: var(--tertiary-color);
}



/* Header */

.header-container {
  background-color: var(--primary-color);
}

.header-title {
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  font-size: 60px;
  color: var(--secondary-color);
}

.header-title:hover {
  color: #debda3;
}

.header-subtitle {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: var(--tertiary-color);
}



/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  background-color: var(--primary-color);
  width: 100%;
}

.icon {
  height: 25px;
  width: auto;
}



/* About Page */

.section-1 {
  height: 350px;
  background-color: var(--primary-color);
  width: 100%;
  padding: 10%;
}

.section-1-title {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 55px;
  color: var(--tertiary-color);
}

.section-1-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: var(--tertiary-color);
  margin-left: 20px;
}

.section-1-text {
  width: 75%;
}

.section-1-text-content {
  width: 90%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--tertiary-color);
}

.section-1-image {
  height: 300px;
  width: auto;
  border: 10px solid white;
}

.section-2 {
  height: 350px;
  background-color: white;
  width: 100%;
  padding: 10%;
}

.section-2-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: var(--secondary-color);
}

.section-2-text {
  width: 75%;
  margin-left: 80px;
}

.section-2-text-content {
  width: 90%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: var(--secondary-color);
}

.section-2-image {
  height: 300px;
  width: auto;
  border: 10px solid white;
  opacity: .85;
}

.section-3 {
  height: 350px;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10%;
}

.section-3-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}

.section-3-text {
  width: 75%;
  text-align: center;
}

.section-3-text-content {
  width: 90%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: white;
}

.hobby-group {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.hobby-icon {
  height: 80px;
  width: auto;
  margin-top: 30px;
}

.hobby-title {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.section-4 {
  height: 350px;
  background-color: white;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.section-4-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: var(--tertiary-color);
}

.section-4-text {
  width: 60%;
  text-align: center;
}

.section-4-text-content {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 50px;
  color: var(--tertiary-color);
  margin-top: 15px;
}

.section-4-image {
  height: 150px;
  width: auto;
}







/* Portfolio Page */

.projects-section {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.projects-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  transform: translateY(80px);
  padding: 0;
  height: auto;
}

.project-cell-container {
  text-decoration: none;
}

.project-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 275px;
  margin: 2px;
  position: relative;
  text-align: center;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
}

.project-cell-image {
  object-fit: cover;
  object-position: center;
}

.project-cell-text {
  font-family: 'Raleway', sans-serif;
  color: var(--tertiary-color);
  opacity: 0;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 1000;
  font-size: 1rem;
  transition: opacity 350ms;
}

.project-cell-description {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.project-cell:hover .project-cell-text {
  color: var(--tertiary-color);
  opacity: 1;
  z-index: 99;
}

.project-cell::before,
.project-cell::after,
.project-cell-image {
  top: -50%;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

.project-cell:hover {
  opacity: 1;
  transition: all 0.35s ease-in-out;
  transform: scale(1.5);
  z-index: 99;
  overflow: hidden;
}

.project-cell:hover img {
  opacity: 0.15;
}






/* Resume Page */

.skills-container {
  background-color: white;
  height: 500px;
  width: 50%;
}

.skills-title {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 60px;
  color: var(--tertiary-color);
  margin-top: 40px;
  margin-left: -20px;
}

.skills-list {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: var(--tertiary-color);
  list-style: none;
}

.skills-list li::before {
  content: "\2022";
  color: var(--secondary-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.resume-container {
  background-color: var(--secondary-color);
  height: 500px;
  width: 50%;
}

.resume-container-inner {
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.3);
}

.resume-container-inner-inner {
  height: 275px;
  width: 275px;
  background-color: white;
  border: 10px solid var(--primary-color);
  margin: 0px;
}

.resume-text {
  color: var(--secondary-color);
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin: 10%;
}

.resume-text:hover {
  color: #debda3;
}





/* Contact Page */

.contact-container-inner {
  background-color: white;
  border: 10px solid var(--primary-color);
  height: 600px;
  width: 500px;
  margin-top: 40px;
  margin-bottom: 60px;
  box-shadow: -10px 15px 5px rgba(0, 0, 0, 0.2);
}

.contact-title {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 80px;
  color: var(--tertiary-color);
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: var(--tertiary-color);
}

.call-text {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: var(--secondary-color);
}












/* RESPONSIVE */

@media screen and (max-width: 550px) {

  .project-cell {
    position: relative;
    margin: 25px 25px;
  }
}


@media screen and (min-width: 550px) and (max-width: 825px) {
  .project-cell-container:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .project-cell-container:nth-child(3) {
    position: relative;
    top: -70px;
  }

  .project-cell-container:nth-child(4) {
    position: relative;
    top: -140px;
  }

  .project-cell-container:nth-child(5) {
    position: relative;
    top: -140px;
  }

  .project-cell-container:nth-child(6) {
    position: relative;
    top: -210px;
  }

  .project-cell-container:nth-child(7) {
    position: relative;
    top: -280px;
    margin-right: 250px;
  }
}


@media screen and (min-width: 825px) and (max-width: 1100px) {
  .project-cell-container:nth-child(4) {
    top: -70px;
    position: relative;
    margin-left: calc(50% - 275px);
  }

  .project-cell-container:nth-child(5) {
    top: -70px;
    position: relative;
    margin-right: calc(50% - 275px);
  }

  .project-cell-container:nth-child(6) {
    top: -140px;
    position: relative;
    margin-left: calc(50% - 530px);
  }

  .project-cell-container:nth-child(7) {
    top: -140px;
    position: relative;
    margin-right: calc(50% - 275px);
  }
}


@media screen and (min-width: 1100px) {

  .project-cell-container:nth-child(n + 5) {
    position: relative;
    top: -70px;
  }
}